# DATABASE CONFIGURATION
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=absensi_sukses_bangunan

# APP CONFIGURATION
PORT=3002
JWT_SECRET=your-secret-key-here

# EMAIL CONFIGURATION
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASS=app-password
FRONTEND_URL_VERIFY_EMAIL=http://localhost:3000/verify-email
